/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, #7ed56fa8,#28b485b8 ),url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );
    backface-visibility: hidden;
}

.logo-box{
    position: absolute;
    top:40px;
    left: 40px;
}
.logo{
    height: 40px;
}


.head-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-heading{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 60px;
}

.main-heading-first{
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px;
    animation-name: movieInLeft;
    animation-duration: 1s;
}
.main-heading-second{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17px;
    animation-name: moveRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}


@keyframes movieInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(20px);

    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    display: inline-block;
}

.btn:hover{
    transform: translateY(-6px);
    box-shadow: 0 20px 20px rgb(19, 18, 18, .2);
}
.btn:active{
    transform: translate(-3px);
    box-shadow: 0 5px 10px rgba(10, 18, 18, .2);

}

.btn-white{
    background-color: #fff;
    color: #777;
}