.row{
    max-width: 144rem;
    // background-color: red;
    margin: 0 auto;
    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }
    @include clearfix;
    [class ^="col-"]{
        // background-color: orangered;
        float: left;
        &:not(:last-child){
            margin: $gutter-horizontal;
        }
        

    }
    .col-1-of-2{
        width: calc((100% - $gutter-horzontal) /2);
       
    }
    
}

